/*** FONT ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Sans+KR:wght@200;400;700&family=Noto+Sans+SC:wght@200;400;700&family=Noto+Sans+TC:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&family=Noto+Serif+KR:wght@200;400;700&family=Noto+Serif+SC:wght@200;400;700&family=Noto+Serif+TC:wght@200;400;700&family=Noto+Serif:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*
(italic; 100 300 400 700 900)
font-family: 'Roboto', sans-serif;

(200 400 700)
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Noto Serif TC', serif;

(italic; 200 400 700 900)
font-family: 'Noto Serif', serif;
*/



/*** GLOBAL ***/
/* Reset by - Tailwind CSS Preflight */
blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,ol,p,pre,ul{margin:0}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}ol,ul{list-style:none;padding:0}audio,canvas,embed,iframe,img,object,svg,video{display:block}img,video{max-width:100%;height:auto}*,::after,::before{border-width:0;border-style:solid;border-color:theme('borderColor.DEFAULT', currentColor)}.google-map *{border-style:none}

/* var */
:root {
  --serif:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans TC','Noto Sans KR', sans-serif;
  --sans:'Noto Serif','Noto Serif SC','Noto Serif JP','Noto Serif ','Noto Serif',serif;
  /* colors */
  --illiase:#958b68;
  --illiase-trans:#958b68b3;
  --illiase-light:#e7ddb9;
  --illiase-monochro:#FFE37F;
  --illiase-hover:#aef;
  --illiase-hover-shadow:1px 1px #0007;
  /* lengths */
  --illiase-header-height:54px;
  --illiase-nav-width:99pt;
  --illiase-footer-top:calc(100vh - var(--illiase-header-height));
}
/* reset */
body{background-color:black}
*{
  margin:auto; /* DANGER */
  padding:0; outline:0;
  text-decoration:none;
  line-height:normal;
  font-weight:normal;
  font-style: normal;
  font-family:var(--serif);
}
img{user-select:none}
*::selection{
  background:var(--illiase-trans);
  color:#007;
  text-shadow: 1px 1px var(--illiase-light);
}
form,button
{all:unset}
/* @media (prefers-color-scheme: dark) {
  body {background-color:white}
} */



/*** LAYOUT ***/
/* header */
header{
  z-index:99; user-select:none;
  display:flex;align-items:center;
  position:fixed;left:0;top:0;
  width:100vw;height:var(--illiase-header-height);
  background-color:#000c;
}header .link,
header .actlink{margin-left:18pt}
header figure{display:flex}
header img{
  width:33px;height:33px;
  margin-right:7pt;
}
header figcaption{
  line-height:1;
  font-size:33px;margin:0;
  font-family: 'Noto Serif',serif;
  padding-right:7pt;
  color:#eee;
}

/* menu */
nav{
  z-index:98; user-select:none;
  display:flex;flex-direction:column;
  position:fixed;left:0;top:0;
  padding-top:calc(var(--illiase-header-height) + 27px);
  width:var(--illiase-nav-width);
  height:72vh;max-height:800px;
  background:linear-gradient(#000 72%, #0000 99%);
  text-align:center;
}
nav .link, nav .actlink{
  display:flex;flex-direction:column;
  min-width:111px;
  margin:7px auto;
  transition:.3s background-color ease;
  padding:2px 3pt; border-radius: 9pt;
}nav .link:hover{
  background-color:#eee;
}nav .link:hover h1{
  color:#111;
}
nav .actlink{
  background:var(--illiase);
  pointer-events:none;
}
nav h1{
  font-weight:700;
  font-size:16px;
  font-family: 'Noto Serif',serif;
  color:#ddd;
}nav .actlink h1{color:#fff}
nav p{
  font-size:12pt; line-height:1;
  color:var(--illiase);
  font-family: 'Noto Serif',serif;
  padding-bottom:3px;
}nav .actlink p{color:#eed}
nav hr{
  margin:0 auto;
  width:54%;height:0;
  border:white inset thin;
}

/* main */
body{
  display:block;width:auto;height:auto;
  min-width:calc(100vw - var(--illiase-nav-width));
  background:url(/i/smol.png) fixed;
  min-height: 100vh;
}
main{
  display:flex;flex-direction:column;
  padding:var(--illiase-header-height) 0 0 var(--illiase-nav-width);
  min-height:var(--illiase-footer-top);
}

/* main-content */
footer, /* __FOOTER-INDEX--CONTENT__ Please CtrlF "footer{" */
#surface article,
#works article,
#surface figure,
#works figure{
  display:flex; flex-direction:column;
  width:72%; max-width:500pt;
  margin:7pt auto 0;
  background:#ccc; padding:9pt 21pt 27pt;
  transition:background-color .5s ease;
  color:#333;
  cursor:pointer;
}

/* footer */
footer{ /* __FOOTER-INDEX--LAST__ Please CtrlF "footer{" */
  height: 30px;
  border-radius:9pt 9pt 0 0;
  position:sticky; top:var(--illiase-footer-top);
  margin-top:12pt;
  padding:12pt 18pt;
  border:0;
  background-color:#777c; color:#eee;
  cursor:auto;
  text-align:center;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
footer p{font-size:12px}
#footer-link{ /* inline Links */
  text-decoration:underline;
  transition:.2s ease;
  color:inherit;
} #footer-link:hover{
  color:var(--illiase-hover);
  text-shadow:var(--illiase-hover-shadow);
}

#nf404{
  display:flex;flex-direction: column;
  gap:9pt;
  margin:auto;
}
#nf404 h1,#nf404  p{
  font-size:18px;
  margin:auto;
  color:white;
  text-shadow:var(--illiase-hover-shadow);
}#nf404 h1{font-size:39pt;line-height:1;}
#nf404 a{
  margin-top:18pt;
  padding:7pt 27pt;
  color:#fff;
  border:var(--illiase) solid 2px;
  border-radius:7pt;
  transition:.2s ease;
}#nf404 a:hover{
  border-color:transparent;
  background-color:#eee;
  color:#111;
}


/* MEMBERS page */
#mem{
  display:flex;flex-wrap:wrap;flex-direction:row;
  justify-content:center;
  min-width:300px;
  overflow:hidden;
  padding:0 9pt;
}
#mem a{
  color:#007;
  display:flex;flex-direction:row;
  justify-content:flex-start;
  min-width:288px;
  height:auto;
  margin:9pt;padding:12pt;
  border-radius:12pt;
  background-color:#ccc;
  transition:.2s transform ease,.2s box-shadow;
}#mem a:hover{
  transform: translate(-3pt, -3pt);
  box-shadow: 3pt 3pt 7pt #007;
}#mem a:active{
  transform: translate(-2px, -1px);
  box-shadow:1px 1px #007;
}
#mem img{
  margin:0 18px 0 0;
  border-radius:99pt;
  background-color:linear-gradient;
  box-shadow:0 3px 7pt #111a;
}
#mem article{
  display:flex;flex-direction:column;
  text-wrap:nowrap;
  margin:0 9pt 0 0; justify-content:space-around;
}
#mem div{
  display:flex; flex-direction:column;
  align-items:baseline;
}
#mem h1{
  margin:0;
  font-family:var(--sans);
  font-size:27pt;
  font-weight:normal;
}
#mem h2{
  margin:0;
  margin-left:3pt;
  font-family:var(--sans);
  font-size:18px;
  font-weight:bold;
}



/* AUTH - login page */
#login{
  margin:39px auto auto;
  display:flex;flex-direction:column;
  line-height:3;
  gap:9pt;
}
#login h1,#login p{
  margin:auto; text-align:center;
  color:#ccc;
  text-shadow:2pt 2pt #000;
  font-size:39pt;
  font-family:var(--sans);
}#login p{font-size:16pt;line-height:1;text-shadow:none}
#login section{
  display:flex;flex-direction:row;
  gap:9pt;
}
#login .provider-icon{
  margin:auto;
  padding:7pt;
  width: 39pt; height: 39pt;
  border-radius:99pt;
  transition:.2s ease;
  cursor:pointer;
}
#login .provider-icon:hover{background-color:#fff}
#login .provider-icon path{transition:fill .2s ease;}
#login .provider-icon svg{width:100%;height:100%;fill:var(--illiase)}
#login #google-ico:hover path#b{fill:#4285F4}#login #google-ico:hover path#g{fill:#34A853}#login #google-ico:hover path#y{fill:#FBBC05}#login #google-ico:hover path#r{fill:#EA4335}
#login #github-ico:hover{background-color:#fff}
#login #github-ico:hover path{fill:#1B1F23}







