/*** FONT ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Sans+KR:wght@200;400;700&family=Noto+Sans+SC:wght@200;400;700&family=Noto+Sans+TC:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&family=Noto+Serif+KR:wght@200;400;700&family=Noto+Serif+SC:wght@200;400;700&family=Noto+Serif+TC:wght@200;400;700&family=Noto+Serif:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*
(italic; 100 300 400 700 900)
font-family: 'Roboto', sans-serif;

(200 400 700)
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Noto Serif TC', serif;

(italic; 200 400 700 900)
font-family: 'Noto Serif', serif;
*/



/*** GLOBAL ***/
:root {
  --serif:'Roboto','Noto Sans SC','Noto Sans JP','Noto Sans TC','Noto Sans KR', sans-serif;
  --sans:'Noto Serif','Noto Serif SC','Noto Serif JP','Noto Serif ','Noto Serif',serif;
  --illiase:#958b68;
  --illiase-trans:#958b68b3;
  --illiase-light:#e7ddb9;
  --illiase-hover:#aef;
  --illiase-header-height:54px;
  --illiase-nav-width:99pt;
}
*{
  margin:auto; padding:0; outline:0;
  font-family:var(--serif);
  font-weight:normal;
  line-height:normal;
  font-style: normal;
  text-decoration:none;
}a{color:inherit;display:inline;}



/*** ILLIASE ***/
#illiase-body ::selection{background:var(--illiase-trans);color:#007}
#illiase-body{
  display:block;width:auto;height:auto;min-height: 100vh;
  min-width:calc(100vh - var(--illiase-nav-width));
  background:url(/i/smol.png) fixed;
}

/* ILLIASE HEADER */
#illiase-body header{
  z-index:99;
  display:flex;align-items:center;
  position:fixed;left:0;top:0;
  width:100vw;height:var(--illiase-header-height);
  background-color:#000c;
}#illiase-body header .link,
#illiase-body header .actlink{margin-left:18pt}
#illiase-body header figure{
  user-select:none;
  display:flex;
}
#illiase-body header img{
  width:33px;height:33px;
  margin-right:7pt;
}
#illiase-body header figcaption{
  font-size:33px;margin:0;
  font-family: 'Noto Serif',serif;
  padding-right:7pt;
  color:#eee;
}

/* ILLIASE NAV */
#illiase-body nav{
  z-index:98;
  display:flex;flex-direction:column;
  position:fixed;left:0;top:0;
  padding-top:calc(var(--illiase-header-height) + 27px);
  width:var(--illiase-nav-width);
  height:72vh;max-height:800px;
  background:linear-gradient(#000 72%, #0000 99%);
}
#illiase-body nav .link,
#illiase-body nav .actlink{
  display:flex;flex-direction:column;
  min-width:111px;
  margin:7px auto;
  transition:.3s background-color ease;
  padding:2px 3pt; border-radius: 9pt;
}#illiase-body nav .link:hover{
  background-color:#ccc;
}#illiase-body nav .link:hover h1{
  color:#111;
}
#illiase-body nav .actlink{
  background-color:var(--illiase);
  pointer-events:none;
}
#illiase-body nav h1{
  font-weight:700;
  transition:.3 ease;
  font-size:16px;
  font-family: 'Noto Serif',serif;
  color:#ddd;
}
#illiase-body nav .actlink h1{color:#fff}
#illiase-body nav p{
  font-size:12pt; line-height:1;
  color:var(--illiase);
  font-family: 'Noto Serif',serif;
  padding-bottom:3px;
}
#illiase-body nav .actlink p{color:#eed}
#illiase-body nav .actlink:hover p{color:var(--illiase)}
#illiase-body nav hr{
  margin:0 auto;
  width:54%;height:0;
}

/* ILLIASE <main> */
#illiase-body main{
  display:flex;flex-direction:column;
  padding:var(--illiase-header-height) 0 0 var(--illiase-nav-width);
  min-height:calc(100vh - var(--illiase-header-height));
}

/* ILLIASE FOOTER */
#illiase-body footer{ /* ctrlF "illiase-body footer{" */
  height: 30px;
  border-radius:9pt 9pt 0 0;
  position:sticky; top:calc(100vh - 70px);
}
#illiase-body footer p{
  font-size:12px;
}
#illiase-body i{ /* inline Links */
  text-decoration:underline;
  transition:.2s color ease;
}#illiase-body i:hover{color:var(--illiase-hover)}

/* ILLIASE BLOGS (SURFACE & WORKS) */
#illiase-main{
  display:flex;flex-direction:column;
  width:100%; height:100%;
  margin: 0 auto auto;
}
#illiase-main article,
#illiase-main figure,
#illiase-body footer{
  display:flex; flex-direction:column;
  width:72%; max-width:555px;
  margin:7pt auto 0;padding:12pt 21pt 27pt;
  background:#ccc;
  color:#333;
}#illiase-body footer{
  margin-top:12pt;
  padding:12pt 18pt;
  background-color:#777c; color:#eee;
}
#illiase-main figure{padding-bottom:16pt}
#illiase-main>:first-child{
  border-radius:9pt 9pt 0 0;
  margin-top:18pt;
}
#illiase-main>:last-child{
  border-radius:0 0 9pt 9pt;
}
#illiase-main article h1{
  font-size:18pt; line-height:2;
  font-family:var(--sans);
}
#illiase-main article p,
#illiase-main figcaption{
  font-size: 12pt;
}
#illiase-main figure img{
  width:auto; height:auto;
  max-width:100%; max-height:58vh;
  padding:3pt 0 9pt;
}


/* ILLIASE MEMBERS */
#illiase-mem{
  display:flex;flex-wrap:wrap;flex-direction:row;
  justify-content:center;
  min-width:300px;
  overflow:hidden;
  padding:0 9pt;
}
#illiase-mem a{
  display:flex;flex-direction:row;
  justify-content:flex-start;
  min-width:288px;
  height:auto;
  margin:9pt;padding:12pt;
  border-radius:12pt;
  background-color:#ccc;
  transition:.2s transform ease,.2s box-shadow;
}#illiase-mem a:hover{
  transform: translate(-3pt, -3pt);
  box-shadow: 3pt 3pt 7pt #007;
}#illiase-mem a:active{
  transform: translate(-2px, -1px);
  box-shadow:1px 1px #007;
}
#illiase-mem img{
  margin:0 18px 0 0;
  border-radius:99pt;
  background-color:linear-gradient;
  box-shadow:0 3px 7pt #111a;
}
#illiase-mem section{
  display:flex;flex-direction:column;
  text-wrap:nowrap;
  margin:0 9pt 0 0; justify-content:space-around;
}
#illiase-mem div{
  display:flex; flex-direction:column;
  align-items:baseline;
}
#illiase-mem h1{
  margin:0;
  font-family:var(--sans);
  font-size:27pt;
  font-weight:normal;
}
#illiase-mem h2{
  margin:0;
  margin-left:3pt;
  font-family:var(--sans);
  font-size:18px;
  font-weight:bold;
}